@{
    ViewBag.Title = "World Merchants Home Page";
}

<div class="jumbotron">
    <center>
        <h1><font face="century gothic">World Merchants</font></h1> <img src="~/Images/ship.jpg" height="160" width="250"/>
    </center>
        <p class="lead"><font face="century gothic"><i>...an items collection game</i></font></p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The Game</h2>
        <p>World Merchants is a buy-and-sell simulation app where each player seeks to get the best items to get the best score.</p>
    </div>
    <div class="col-md-4">
        <h2>Get Started!</h2>
        <p>
            @ViewBag.Message<b><u>@ViewBag.Message2</u></b>@ViewBag.Message3 <br />
            <br />
            @Html.ActionLink("Create New Account", "Create", "PlayersCrud") or @Html.ActionLink("Login", "Login", "Home")
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <h2>Note to User</h2>
            The authentication is only a simulated system using session state.  Your information or alteration to the site is not secure or gauranteed.
        </p>
    </div>
</div>