@model IEnumerable<WorldOfMerchants.Models.Merchant>

@{
    ViewBag.Title = "Index";
}

<h2>Merchants</h2>

<table class="table">
    <tr>
        <th>
            Merchant Name
        </th>
        <th>
            Whereabouts
        </th>
        <th>
            Product Type
        </th>
        <th>
            Items
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.ActionLink("View", "ItemsByMerchant", new { id = item.ID })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("View All World Items", "WorldItems", "MerchantsCrud")
