@model WorldOfMerchants.Models.Merchant

@{
    ViewBag.Title = "Items By Merchant";
}

<h2>Items By Merchant</h2>

<div>
    <h4>Merchant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <br />

        <dt>Number of Items</dt>
        <dd>@ViewBag.ItemCount</dd>

        <br />

        <dt>
            Items
        </dt>

        @foreach (var b in Model.Items)
        {
            <dd>
                @Html.DisplayFor(model => b.Name)
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

